.HistoryItem{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #2d3341;
    margin-bottom: 10px;
    &-Service{
        display: flex;
    }
    &-Info{
        display: flex;
        flex-direction: column;
    }
    &-Short-Info{
        display: flex;
        justify-content: space-between;
    }
    &-Description{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    &-Icon{
        width: 36px;
        height: 36px;
        background: #363d4c;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-right: 10px;
    }
}